  <link type="text/css" rel="stylesheet" href="../css/footer.css">
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div id="main" ng-controller="HeaderController">
  <footer>
    <ul>
    <div class="border row">
      <div class="border col-sm-3">
        <li>
          <p class="home">Home</p>
          <a class="logo">Company Logo <i>&copy; 2015</i></a>
        </li>
      </div>
      <div class="border col-sm-3">
        <li>
          <p ui-sref="services" class="services">Services</p>

          <ul>
            <li><a href="#">Service 1</a></li>
            <li><a href="#">Service 2</a></li>
            <li><a href="#">Service 3</a></li>
            <li><a href="#">Service 4</a></li>
          </ul>
        </li>
      </div>
      <div class="border col-sm-3">
        <li>
          <p class="reachus">Reach Us</p>

          <ul>
            <li><a href="#">Email</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
            <li>555-123456789</li>
          </ul>
        </li>
      </div>
      <div class="border col-sm-3">
        <li>
          <p class="clients">Clients</p>
          <ul>
            <div ng-show="!authentication.user">
              <li><a ui-sref="authentication.signin">Sign In</a></li>
              <li><a ui-sref="authentication.signup">Sign Up</a></li>
            </div>
            <!--<li><a href="#">Support Center</a></li>-->
            <li><a ui-sref="faq">FAQ</a></li>
          </ul>
        </li>
      </div>
    </div>
    </ul>
  </footer>
</div>
