  <link type="text/css" rel="stylesheet" href="../css/footer.css">
  <div id="main">
  <footer>
    <ul>
      <li>
        <p class="home">Home</p>
        <a class="logo" ui-sref="home">Company Name <i>&copy; 2015</i></a>
      </li>
      <li>
        <p class="services">Services</p>

        <ul>
          <li><a href="#">Service 1</a></li>
          <li><a href="#">Service 2</a></li>
          <li><a href="#">Service 3</a></li>
          <li><a href="#">Service 4</a></li>
        </ul>
      </li>
      <li>
        <p class="reachus">Reach us</p>

        <ul>
          <li><a href="#">Email</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li>555-123456789</li>
        </ul>
      </li>
      <li>
        <p class="clients">Clients</p>

        <ul>
          <li><a ui-sref="authentication.signup">Login</a></li>
          <li><a ui-sref="authentication.signin">Sign Up</a></li>
          <!--<li><a href="#">Support Center</a></li>-->
          <li><a ui-sref="faq">FAQ</a></li>
        </ul>
      </li>
    </ul>

  </footer>
</div>
