<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <br>
    <div class="row">
      <p class="lead">
        <div ng-include="'/modules/core/client/views/homecarousel.html'"></div>
      </p>
    </div>
  </div>
  Lorem ipsum dolor sit amet, wisi timeam no nam, in probo quodsi tincidunt mei. Eum no labore suscipit, no quod errem vim. Soleat postulant quo an, qui enim detraxit ex. Nobis mucius conclusionemque vim at. Ei sonet vocent mei, duo illum consetetur ut.

  Ea per soleat nemore. Eos libris recusabo ut. Id mel omittam accumsan recteque. Sed fugit consul repudiandae ne, possit cetero intellegam te eum, an nec etiam lobortis platonem. Pri ut delenit dolorem voluptatibus.

  Ex vel partem dolorem. Ne fugit ubique semper vel, ea atqui alienum his. Ei qui ponderum phaedrum laboramus, nec vitae malorum iuvaret et. Et vix audiam accommodare consectetuer. Te doctus vocent gloriatur est.

  Te vel paulo equidem, in nisl alia eum. Ius ad prima qualisque. Eu nam modo congue imperdiet. Pri an vitae delicatissimi, tantas sadipscing vis id. At usu eros posse, atomorum neglegentur signiferumque eu eum. Mutat repudiandae ad vis, ea eum suas debet.

  Putant eirmod tractatos nec in, in eius novum officiis eos, sale inani delicata in nec. Nam cu nulla blandit adipiscing, est impetus facilisis intellegam no, mea at homero eruditi. Iudico postea sit id, in mei magna patrioque gubergren. Commodo singulis pro an.
</section>
