<!--<div id="carousel" class="carousel slide" data-ride="carousel">-->
  <!--&lt;!&ndash; Menu &ndash;&gt;-->
  <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#carousel" data-slide-to="0" class="active"></li>-->
    <!--<li data-target="#carousel" data-slide-to="1"></li>-->
    <!--<li data-target="#carousel" data-slide-to="2"></li>-->
  <!--</ol>-->

  <!--&lt;!&ndash; Items &ndash;&gt;-->
  <!--<div class="carousel-inner">-->

    <!--<div class="item active">-->
      <!--<img src="http://lorempixel.com/1500/600/abstract/1" alt="Slide 1" />-->
      <!--<div class="carousel-caption">-->
        <!--<h3>Flowers</h3>-->
        <!--<p>Beatiful flowers in Kolymbari, Crete.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
      <!--<img src="http://lorempixel.com/1500/600/abstract/2" alt="Slide 2" />-->
      <!--<div class="carousel-caption">-->
        <!--<h3>Flowers</h3>-->
        <!--<p>Beatiful flowers in Kolymbari, Crete.</p>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="item">-->
      <!--<img src="http://lorempixel.com/1500/600/abstract/3" alt="Slide 3" />-->
    <!--</div>-->
  <!--</div>-->
  <!--<a href="#carousel" class="left carousel-control" data-slide="prev">-->
    <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
  <!--</a>-->
  <!--<a href="#carousel" class="right carousel-control" data-slide="next">-->
    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
  <!--</a>-->
<!--</div>-->
<!--<script>-->
  <!--// Load this when the DOM is ready-->
  <!--$(function(){-->
    <!--// You used .myCarousel here.-->
    <!--// That's the class selector not the id selector,-->
    <!--// which is #myCarousel-->
    <!--$('#myCarousel').carousel();-->
  <!--});-->
<!--</script>-->

