<link type="text/css" href="../css/ourteam.css">
<div>
  <div>
    <!--<div >class="well well-sm">-->
    <div >
      <br/>
      <legend class="text-center header">Our Team</legend>
      <br/>
      <br/>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-4">
                <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle" alt="Cinque Terre">

                <p>
                  Lorem ipsum dolor sit amet, vel congue facete scribentur an, debet deleniti in quo. Et partem alienum mediocrem nec, salutandi disputando ne cum. Ex cum illum saepe omnium. Ei affert insolens maluisset usu, vis te nulla appetere, vide ipsum te his. An posse porro nam, eu mei voluptua qualisque. Essent virtute antiopam ex ius, impetus diceret mel in.

                  Natum hendrerit usu te, vis et cibo offendit euripidis. Dicit aliquip quo an, melius inermis est at, vocent mediocritatem ut per. Utinam fuisset maiestatis no mei, ex labores offendit hendrerit usu. Eum dicta diceret an, per scribentur intellegebat et, alia dicam timeam nec te. Sit ea suas nihil placerat, assentior deterruisset at qui. Has ut adipiscing instructior.
                </p>
              </div>
              <div class="col-sm-4">
                <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle" alt="Cinque Terre">
                <p>
                  Lorem ipsum dolor sit amet, vel congue facete scribentur an, debet deleniti in quo. Et partem alienum mediocrem nec, salutandi disputando ne cum. Ex cum illum saepe omnium. Ei affert insolens maluisset usu, vis te nulla appetere, vide ipsum te his. An posse porro nam, eu mei voluptua qualisque. Essent virtute antiopam ex ius, impetus diceret mel in.

                  Natum hendrerit usu te, vis et cibo offendit euripidis. Dicit aliquip quo an, melius inermis est at, vocent mediocritatem ut per. Utinam fuisset maiestatis no mei, ex labores offendit hendrerit usu. Eum dicta diceret an, per scribentur intellegebat et, alia dicam timeam nec te. Sit ea suas nihil placerat, assentior deterruisset at qui. Has ut adipiscing instructior.
                </p>
              </div>
              <div class="col-sm-4">
                <img src="http://www.w3schools.com/bootstrap/cinqueterre.jpg" class="img-circle" alt="Cinque Terre">
                <p>
                  Lorem ipsum dolor sit amet, vel congue facete scribentur an, debet deleniti in quo. Et partem alienum mediocrem nec, salutandi disputando ne cum. Ex cum illum saepe omnium. Ei affert insolens maluisset usu, vis te nulla appetere, vide ipsum te his. An posse porro nam, eu mei voluptua qualisque. Essent virtute antiopam ex ius, impetus diceret mel in.

                  Natum hendrerit usu te, vis et cibo offendit euripidis. Dicit aliquip quo an, melius inermis est at, vocent mediocritatem ut per. Utinam fuisset maiestatis no mei, ex labores offendit hendrerit usu. Eum dicta diceret an, per scribentur intellegebat et, alia dicam timeam nec te. Sit ea suas nihil placerat, assentior deterruisset at qui. Has ut adipiscing instructior.
                </p>
              </div>
            </div>
          </div>
    </div>
  </div>

</div>
